{% extends 'base.html.twig' %}

{% block title %}
    {% if id is defined %}
        {{ "Update skill"|trans }}{{ parent() }}
    {% else %}
        {{ "New skill"|trans }}{{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-6">
            {{ form_start(categorieForm) }}
            <h2>
                {% if id is defined %}
                    {{ "Update category"|trans }}{{ parent() }}
                {% else %}
                    {{ "New category"|trans }}{{ parent() }}
                {% endif %}
            </h2>
            <div class="row">
                <div class="col-md-6 my-3">
                    {{ form_widget(categorieForm) }}
                </div>
            </div>

            <button type="submit" class="btn btn-success">{{ "Submit"|trans }}</button>
            {% if id is defined %}
                <a href="{{ path('categorie_remove', { 'id': id }) }}" class="btn btn-danger">{{ "Delete"|trans }}</a>
            {% endif %}
            <button type="button" onclick="history.back();" class="btn btn-outline-light">{{ "Back"|trans }}</button>
            {{ form_end(categorieForm) }}
        </div>
    </div>
{% endblock %}
